{{!-- iPhone --}}
<div class="container">
    <h1>{{iphone.title}}</h1>
    <div class="grid">
        {{#each iphone.products}}
        <div class="card">
            <div class="badge discount">{{this.discount}}</div>
            <div class="badge installment">{{this.installment}}</div>
            <img src="{{this.image}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p class="price">{{this.price}}</p>
            <p class="old-price">{{this.oldPrice}}</p>
        </div>
        {{/each}}
    </div>
    <a href="#" class="button">Xem tất cả iPhone</a>
</div>

{{!-- iPad --}}
<div class="container">
    <h1>{{ipad.title}}</h1>
    <div class="grid">
        {{#each ipad.products}}
        <div class="card">
            <div class="badge discount">{{this.discount}}</div>
            <div class="badge installment">{{this.installment}}</div>
            <img src="{{this.image}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p class="price">{{this.price}}</p>
            <p class="old-price">{{this.oldPrice}}</p>
        </div>
        {{/each}}
    </div>
    <a href="#" class="button">Xem tất cả iPad</a>
</div>

{{!-- Mac --}}
<div class="container">
    <h1>{{mac.title}}</h1>
    <div class="grid">
        {{#each mac.products}}
        <div class="card">
            <div class="badge discount">{{this.discount}}</div>
            <div class="badge installment">{{this.installment}}</div>
            <img src="{{this.image}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p class="price">{{this.price}}</p>
            <p class="old-price">{{this.oldPrice}}</p>
        </div>
        {{/each}}
    </div>
    <a href="#" class="button">Xem tất cả Mac</a>
</div>
<div class="fixed-buttons">
  <a href="tel:+123456789" class="hotline">
    <i class="bi bi-telephone"></i>
  </a>
  <a href="mailto:example@example.com" class="comment">
    <i class="bi bi-chat-dots"></i>
  </a>
</div>


<link rel="stylesheet" href="../css/home.css">